:root {
  --color-primary: #707070;
  --color-secundary: #888888;
  --color-third: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

/* +++++++++++++++++++ HEADER +++++++++++++++++ */

.header {
  height: 400px;
}

.header .background{
  background-color: var(--color-primary);
  height: 400px;
  width: 100vw;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 60%);
  position: absolute;
}

.header .title {
  background-color: transparent;
  z-index: 1;
  position: relative;
}

.header .title h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: var(--color-third);
  text-align: center;  
}

.header .title h3 {
  font-weight: 300;
  font-size: 20px;
  padding-top: 55px;
  color: var(--color-third);
  text-align: center;
}

.header .title p {
  color: var(--color-third);
  text-align: center;
  font-size: 14px;
}

.header .buttons {
  background-color: transparent;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center; 
  margin-top: 40px;
}

.header .buttons button {
  width: 160px;
  height: 40px;
  margin: 15px;
  background-color: var(--color-third);
  color: #888888;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0px 1px 6px #00000029;
}

.header .buttons button a {
  text-decoration: none;
  color: var(--color-secundary);
}

/* ++++++++++++++++++ ABOUT ++++++++++++++++++++++*/

.container {
  color: var(--color-secundary);
  width: 60%;
  margin: 0 auto;
}

.container .form {
  display: flex;
}

.container .form label {
  font-size: 12px;
}

.container .form .text {
  width: 60%;
  margin-right: 60px;
}

.container .form .text h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 25px 0;
}

.container .form .text p {
  font-size: 12px;
  text-align: left;
  margin: 20px 0;
}

.container .form .input {
  width: 40%;
  margin-top: 20px;
}

.container .form .input .personal-data input {
  width: 100%;
  height: 30px;
  margin: 5px 0 15px 0;
}

.container .form .input .personal-data .inputError {
  border: 1px solid red; 
}

.container .form .input .gender label {
  margin-right: 30px;
}

.container .form .input .gender.inputError {
  border: 1px solid red;
}


.container .form button {
  width: 100%;
  height: 30px;
  color: var(--color-secundary);
  background-color: var(--color-third);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  margin-top: 15px;
}

/*++++++++++++++++++++++  PRODUCTS ++++++++++++++++++++++ */

.container .products-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container .products-list hr {
  border: 1px solid var(--color-secundary);
  margin: 75px auto 50px auto;
  padding: 0 50%;
}

.container .products-list h4 {
  position: relative;
  top: -60px;
  width: 220px;
  text-align: center;
  background-color: var(--color-third);
}

.container .products-list .products {
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  justify-content: center;
}

.container .products-list .products .product {
  width: 200px;
  height: 350px;
}

.container .products-list .products .product img {
  width: 100%;
  height: 150px;
}

.container .products-list .products .product h6 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
}

.container .products-list .products .product p,
.container .products-list .products .product span {
  font-size: 12px;
  margin-top: 8px;
}

.container .products-list .products .product h5 {
  font-size: 16px;
  margin-top: 8px;
}

.container .products-list .products .product button {
  margin-top: 8px;
  width: 100%;
  height: 30px;
  color: var(--color-secundary);
  background-color: var(--color-third);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}

.container .products-list .button {
  margin-top: 52px;
  width: 260px;
  height: 39px;
  color: var(--color-secundary);
  background-color: var(--color-third);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}

.container .products-list .button a {
  text-decoration: none;
  color: var(--color-secundary);
  padding: 12px 68px;
}

/* +++++++++++++++++++++++++++ SHARE ++++++++++++++++++++*/

.container .share {
  text-align: center;
}

.container .share hr {
  border: 1px solid var(--color-secundary);
  margin: 75px auto 50px auto;
  padding: 0 50%;
}

.container .share h4 {
  position: relative;
  top: -60px;
  width: 220px;
  text-align: center;
  background-color: var(--color-third);
  margin: 0 auto;
}

.container .share p {
  font-size: 14px;
}

.container .share .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 25px;
}


.container .share .data .box {
  display: grid;
  grid-template-columns: 40% 40%;
  width: 100%;
  gap: 30px;
  justify-content: center;
}

.container .share .data .box div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .share label {
  font-size: 12px;
}

.container .share input {
  width: 100%;
  height: 30px;
  margin-top: 10px; 
}

.container .share input.inputError {
  border: 1px solid red;
}

.container .share button {
  margin-top: 52px;
  width: 260px;
  height: 39px;
  color: var(--color-secundary);
  background-color: var(--color-third);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}

/* ++++++++++++++++++++++ FOOTER ++++++++++++++++++ */

footer {
  background-color: var(--color-primary);
  height: 400px;
  width: 100vw;
  clip-path: polygon(0% 50%, 100% 20%, 100% 100%, 0% 100%);
  color: var(--color-third);
  text-align: center;
}

footer p {
  position: relative;
  top: 60%;
  font-size: 12px;
}

/* ++++++++++++++++++ MOBILE ++++++++++++++++++++ */

@media (min-width: 701px) and (max-width: 910px) {
  .container .products-list .products {
    grid-template-columns: auto auto;
  }


}

@media (max-width: 700px) {

  /* ++++++++++ HEADER +++++++++++++++++++ */

  .header .title h1,
  .header .title h3, 
  .header .title p {
    text-align: left;
    padding-left: 20px;
    width: 90vw;
  }

  .header .title h1 {
    margin-bottom: 20px;
  }

  .header .buttons {
    flex-wrap: wrap;
  }

  /* ++++++++++++++++++ ABOUT ++++++++++++++++++++++ */

  .container {
    padding: 0 20px;
    margin: auto;
    width: 100%;
  }

  .container .form {
    display: flex;
    flex-wrap: wrap;

  }

  .container .form .text {
    margin-right: 0;
  }

  .container .form .text,
  .container .form .input {
    width: 100%;
  }

  /* +++++++++++++++++ PRODUCTS ++++++++++++++++ */


  .container .products-list .products {
    grid-template-columns: auto;
    align-items: center;
  }

  .container .products-list .products .product {
    display: grid;
    grid-template-columns: 170px 170px;
    gap: 15px;
    height: 150px;
    width: 100%;
    justify-content: center;
  }

  .container .products-list .products .product p {
    display: none;
  }

  /* ++++++++++++++++++++++ SHARE +++++++++++++++++++++ */
  
  .container .share .data .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  

  .container .share label {
    margin-top: 0;
  }
}