:root {
  --color-primary: #707070;
  --color-secundary: #888888;
  --color-third: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

/* +++++++++++++++++++ HEADER +++++++++++++++++ */

.header {
  height: 400px;
}

.header .background{
  background-color: var(--color-primary);
  height: 400px;
  width: 100vw;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 60%);
  position: absolute;
}

.header .title {
  background-color: transparent;
  z-index: 1;
  position: relative;
}

.header .title h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: var(--color-third);
  text-align: center;  
}

.header .title h3 {
  font-weight: 300;
  font-size: 20px;
  padding-top: 55px;
  color: var(--color-third);
  text-align: center;
}

.header .title p {
  color: var(--color-third);
  text-align: center;
  font-size: 14px;
}

.header .buttons {
  background-color: transparent;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center; 
  margin-top: 40px;
}

.header .buttons button {
  width: 160px;
  height: 40px;
  margin: 10px;
  background-color: var(--color-third);
  color: #888888;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0px 1px 6px #00000029;
}

.header .buttons button a {
  text-decoration: none;
  color: var(--color-secundary);
}

/* ++++++++++++++++++ ABOUT ++++++++++++++++++++++*/

.container {
  color: var(--color-secundary);
  width: 60%;
  margin: 0 auto;
}

.container .form {
  display: flex;
}

.container .form .text {
  width: 60%;
  margin-right: 60px;
}

.container .form .text h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 25px 0;
}

.container .form .text p {
  font-size: 12px;
  text-align: left;
  margin: 20px 0;
}

.container .form .input {
  width: 40%;
  margin-top: 20px;
}

.container .form .input .personal-data input {
  width: 100%;
  height: 30px;
  margin: 5px 0 15px 0;
}

.container .form label {
  font-size: 12px;
}

.container .form button {
  width: 100%;
  height: 30px;
  color: var(--color-secundary);
  background-color: white;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  margin-top: 15px;
}

/* ++++++++++++++++++ MOBILE ++++++++++++++++++++ */

@media (max-width: 700px) {

  .header .title h1,
  .header .title h3, 
  .header .title p {
    text-align: left;
    padding-left: 20px;
    width: 90vw;
  }

  .header .title h1 {
    margin-bottom: 20px;
  }

  .header .buttons {
    flex-wrap: wrap;
  }

  .container {
    padding: 0 20px;
    margin: auto;
    width: 100%;
  }

  .container .form {
    display: flex;
    flex-wrap: wrap;

  }

  .container .form .text {
    margin-right: 0;
  }

  .container .form .text,
  .container .form .input {
    width: 100%;
  } 
}